<nav>
    <ul class="flex justify-evenly w-[500px] text-2xl">
        <li><a [routerLink]="'/trainer'">Trainer</a></li>
        <li><a [routerLink]="'/catalogue'">Catalogue</a></li>
        <app-logout-button></app-logout-button>
    </ul>
</nav>