<header class="h-[150px] bg-darkBlue text-white flex justify-between items-center">
    <h1 class="text-5xl indent-[50px]">Pokémon Trainer</h1>
    <app-navbar *ngIf="!isHomePage()"></app-navbar>
</header>
