<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
    <div class="flex mt-20">
        <div class="m-auto">
            <div class="bg-white h-[250px] w-[350px] rounded drop-shadow-lg shadow-lg">
                <div class="text-center">
                    <h2 class="text-3xl">LOGIN</h2>
                    <fieldset class="m-10">
                        <input type="text"
                            ngModel
                            #username="ngModel"
                            name="username" id="username"
                            class="border border-slate-300 p-2 rounded"
                            placeholder="Username">
                    </fieldset>
                
                    <button type="submit" class="bg-darkBlue hover:bg-lightBlue text-white font-bold py-2 px-4 rounded">Login</button>
                </div>
            </div>
        </div>
    </div>
    
</form>