<li *ngIf="pokemon">
    <button 
        (click)="onCatchClick(pokemon.id)"
        class="bg-white w-[250px] h-[300px] flex-col m-[25px] rounded">
        <img [src]="pokemon.sprite" />
        <h3>{{pokemon.name}}</h3>
    </button>
</li>